.wrapper {
  padding: 20px 32px;

  > ul {
    list-style: none;
    padding-left: 0;
    display: flex;
    max-width: 100vw;
    overflow-x: auto;

    flex-wrap: nowrap;
    margin: 0;
    column-gap: 2rem;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    &::-webkit-scrollbar {
      display: none; /* Safari and Chrome */
    }
  }

  & + & {
    margin-top: 4rem;
  }
}

.listTitle {
  color: white;
  font-size: 32px;
  font-weight: 700;
}
